.venv
venv
__pycache__/
node_modules
nohup.out
.env
.terraform
terraform.tfstate
.terraform.lock.hcl
terraform.tfstate.backup
.terraform.tfstate.lock.info
aqi_tridasa-saurav.pem
data_correction
*.log
*.txt
components_ignore
packages_ignore
load_data_to_rds