.popButton {
    background-color: #FF4D4F; /* Bright red color */
    color: #ffffff;            /* White text */
    border-color: #FF4D4F;     /* Match border color */
    font-weight: bold;         /* Bold text for emphasis */
    animation: popInOut 2s infinite;
}

.popButton:hover {
    background-color: #D9363E; /* Darker red on hover */
    border-color: #D9363E;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

@keyframes popInOut {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}

.pulsingTrendText {
    animation: pulse 2s infinite;
}
